<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
    <meta content="South Dakota Code Camp November 9, 2013 - Sioux Falls, SD. This is an event hosted by the Sioux Falls Developers Group and South Dakota .Net User Group." name="description" />

    <meta property="og:image" content="{{ app.request.baseUrl()~('bundles/app/images/facebook_website_share.png') }}">

    <link rel="canonical" href="http://southdakotacodecamp.net/" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="{% block meta_description %}South Dakota Code Camp April 18, 2015 - Sioux Falls, SD. This is an event hosted by the Sioux Falls Developers Group and South Dakota .Net User Group.{% endblock %}">
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        {% stylesheets '@AppBundle/Resources/public/stylesheets/app.scss' filter='cssrewrite, scssphp' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('bundles/app/javascripts/modernizr.custom.js') }}"></script>
</head>
<body>
    {% include 'includes/error_header.html.twig' %}
    <section class="error-content clearfix">
        <h1>Oops! An Error Occurred</h1>
        <p>The server returned a "{{ status_code }} {{ status_text }}".</p>
    </section>
    {% include 'includes/footer.html.twig' %}
</body>
</html>
