{% extends "::base.html.twig" %}

{% block title %}Speakers | {{ parent() }}{% endblock %}

{% block body %}
<section class="speaker-index interior-content clearfix" id="SpeakerIndex">
    <h1 class="pagetitle cutout">Speakers</h1>
    {% if speakers %}
    <ul>
        {% for speaker in speakers %}{% spaceless %}
        <li class="speaker">
            <a href="{{ path('speaker_show_by_slug', {id: speaker.id, slug: speaker.slug}) }}">
                <img class="img-circle" src="http://www.gravatar.com/avatar/{{ speaker.emailMd5 }}?s=150" />
            </a>
            <a href="{{ path('speaker_show_by_slug', {id: speaker.id, slug: speaker.slug}) }}">{{ speaker.fullName }}</a>
        </li>
        {% endspaceless %}{% endfor %}
    </ul>
    {% else %}
        <p><a class="button" href="{{ path('speaker_submission_new') }}" style="color: white;">Call for Speakers</a></p>
    {% endif %}
</section>
{% endblock %}
