{% extends "::base.html.twig" %}

{% set currentUrl = url('speaker_show_by_slug', {'id': speaker.id, 'slug': speaker.slug}) %}

{% block title %}{{ speaker.fullName }} | {{ parent() }}{% endblock %}
{% block og_title %}{{ speaker.fullName|e('html_attr') }}{% endblock %}
{% block og_image %}http://www.gravatar.com/avatar/{{ speaker.emailMd5 }}?s=400{% endblock %}

{% block meta_description %}{{ speaker.bioMarkdown|striptags|e('html_attr') }}{% endblock %}

{% block twitter_card %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sdcodecamp" />
    <meta name="twitter:title" content="Meet {{ speaker.fullName|e('html_attr') }}" />
    <meta name="twitter:description" content="{{ speaker.bioMarkdown|striptags|e('html_attr') }}" />
    <meta name="twitter:image" content="http://www.gravatar.com/avatar/{{ speaker.emailMd5 }}?s=300" />
    <meta name="twitter:image:alt" content="{{ speaker.fullName|e('html_attr') }} portrait" />
{% endblock %}

{% block body %}
    <section class="speaker-show interior-content clearfix">

        <h1 class="pagetitle cutout">{{ speaker.fullName }}</h1>

        <div class="details">
            <div class="bio">
                <h6>Bio:</h6>
                {% if speaker.bioMarkdown %}
                    {{ speaker.bioMarkdown|raw }}
                {% else %}
                <p>Bio coming soon...
                {% endif %}
            </div>
            <div class="social">
                {% if speaker.twitter %}
                <p>Twitter: <a href="http://twitter.com/{{ speaker.twitter }}">{{ speaker.twitter }}</a>
                {% endif %}
                {% if speaker.company %}
                <p>Company: {% if speaker.companyUrl %}<a href="{{ speaker.companyUrl }}" target="_blank">{% endif %}{{ speaker.company }}{% if speaker.companyUrl %}</a>{% endif %}
                {% endif %}
                {% if speaker.personalSite %}
                <p><a href="{{ speaker.personalSite }}" target="_blank">{{ speaker.personalSite }}</a>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}
