{% extends "::base.html.twig" %}
{% set currentUrl = url('speaker_show', {'id': speaker.id}) %}
{% block title %}{{ speaker.fullName }} | {{ parent() }}{% endblock %}

{% block body %}
    <section class="speaker-show interior-content clearfix">

        <h1 class="pagetitle cutout">{{ speaker.fullName }}</h1>

        <div class="details">
            <div class="bio">
                <h6>Bio:</h6>
                {% if speaker.bioMarkdown %}
                    {{ speaker.bioMarkdown|raw }}
                {% else %}
                <p>Bio coming soon...
                {% endif %}
            </div>
            <div class="social">
                {% if speaker.twitter %}
                <p>Twitter: <a href="http://twitter.com/{{ speaker.twitter }}">{{ speaker.twitter }}</a>
                {% endif %}
                {% if speaker.company %}
                <p>Company: {% if speaker.companyUrl %}<a href="{{ speaker.companyUrl }}" target="_blank">{% endif %}{{ speaker.company }}{% if speaker.companyUrl %}</a>{% endif %}
                {% endif %}
                {% if speaker.personalSite %}
                <p><a href="{{ speaker.personalSite }}" target="_blank">{{ speaker.personalSite }}</a>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}
