{% extends 'base.html.twig' %}
{% set description = 'South Dakota Code Camp is a free local software development conference hosted by the local Sioux Falls Developers Group.' %}
{% block title %}{{ parent() }} &bull; {{ event_date }}{% endblock %}
{% block meta_description %}{{ description }}{% endblock %}
{% block meta_other %}
    <meta property="og:type" content="website" />
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "South Dakota Code Camp",
        "startDate" : "{{ event_date_iso }}",
        "description" : "{{ description }}",
        "url" : "{{ url(app.request.attributes.get('_route')) }}",
        "location" : {
            "@type" : "Place",
            "sameAs" : "http://www.southeasttech.edu/",
            "name" : "Southeast Technical Institute",
            "address" : {
                "@type" : "PostalAddress",
                "streetAddress": "2320 N. Career Ave",
                "addressLocality": "Sioux Falls",
                "addressRegion": "SD",
                "addressCountry": "USA",
                "postalCode": "57107"
            }
        }
    }
    </script>
{% endblock %}
{% block body %}
    <main role="main">
        <section class="hero">
            <div class="line1">
                We've got...
            </div>
            <div class="line2">
                 ...Top Notch Speakers
            </div>
            <div class="line3">
                <a href="{{ path('speaker_index') }}" class="button">See the Lineup</a>
            </div>
            {#<div class="line3">#}
                {#<a href="https://www.eventbrite.com/e/south-dakota-code-camp-2015-tickets-18964572547" class="button">Register</a>#}
            {#</div>#}
        </section>
        <section class="main-content">
            <h2 class="cutout" style="font-size: 3em;">What is Code Camp?</h2>
            <h4 class="cutout">
                Sioux Falls, SD
            </h4>
            <p>
                This is an event hosted by the Sioux Falls Developers Group and South Dakota .Net
                User Group with the sponsorship and support from many area businesses. You
                may be wondering "Whats a code camp?"
                <a href="http://blogs.msdn.com/b/trobbins/archive/2004/12/12/280181.aspx" target="_blank">Here is the basic idea</a>.
            </p>
        </section>
    </main>
    <section class="updates" role="complimentary">
        <h2 class="cutout" style="font-size: 3em;">Register</h2>
        <h4 class="cutout">
            {{ event_date }}
        </h4>
        <p>New this year, Code Camp will include <a href="{{ path('page_family') }}">hands-on
            activities for the family</a>. All experience levels welcome, from kids who've never
            used a computer to those interested in programming a robot. Spend time with your kid(s)
            and try the activities together. Ages 5 and up welcome.</p>
        <div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid=8513880245&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
    </section>
{% endblock %}

{% block body_extra %}class="home"{% endblock %}
