{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} &bull; {{ event_date }}{% endblock %}
{% block meta_other %}
    <meta property="og:type" content="website" />

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "South Dakota Code Camp",
        "startDate" : "{{ event_date_iso }}",
        "url" : "{{ url(app.request.attributes.get('_route')) }}",
        "location" : {
            "@type" : "Place",
            "sameAs" : "http://www.southeasttech.edu/",
            "name" : "Southeast Technical Institute",
            "address" : {
                "@type" : "PostalAddress",
                "streetAddress": "2320 N. Career Ave",
                "addressLocality": "Sioux Falls",
                "addressRegion": "SD",
                "addressCountry": "USA",
                "postalCode": "57107"
            }
        }
    }
    </script>
{% endblock %}
{% block body %}
    <main role="main">
        <section class="hero">
            <div class="line1">
                Nov. 7th 2015
            </div>
            <div class="line2">
                 Want to Speak?
            </div>
            <div class="line3">
                <a href="{{ path('speaker_submission_new') }}" class="button">Submit your session</a>
            </div>
        </section>
        <section class="main-content">
            <h2 class="cutout">What is Code Camp?</h2>
            <h4 class="cutout">
                Sioux Falls, SD
            </h4>
            <p>
                This is an event hosted by the Sioux Falls Developers Group and South Dakota .Net
                User Group with the sponsorship and support from many area businesses. Most of you
                visiting may be wonder "Whats a code camp?"
                <a href="http://blogs.msdn.com/b/trobbins/archive/2004/12/12/280181.aspx" target="_blank">Here is the basic idea</a>.
            </p>
        </section>
    </main>
    <section class="updates" role="complimentary">
        <div class="tweet-container">
            <blockquote class="twitter-tweet"
                        lang="en"
                        data-cards="hidden">
                <p lang="en" dir="ltr">Next SD Code Camp is Nov 9th! Speakers can email submissions to sdcodecamp at gmail</p>&mdash; SouthDakota CodeCamp (@sdcodecamp) <a href="https://twitter.com/sdcodecamp/status/377083090872442881">September 9, 2013</a>
            </blockquote>
        </div>
        <div class="tweet-container">
            <blockquote class="twitter-tweet"
                        lang="en"
                        data-cards="hidden">
                <p lang="en" dir="ltr">Snacks for tomorrow <a href="http://t.co/H6JG9FwI">http://t.co/H6JG9FwI</a></p>&mdash; SouthDakota CodeCamp (@sdcodecamp) <a href="https://twitter.com/sdcodecamp/status/267053531666735104">November 9, 2012</a>
            </blockquote>
        </div>
    </section>
{% endblock %}

{% block body_extra %}
    {% spaceless %}
        class="home"
    {% endspaceless %}
{% endblock %}
