{% extends 'base.html.twig' %}
{% block title %}{{ event_date_iso|date('Y') }} Schedule | {{ parent() }}{% endblock %}
{% block og_title %}{{ event_date_iso|date('Y') }} Schedule{% endblock %}
{% block meta_description %}{{ event_date_iso|date('Y') }} South Dakota Code Camp Schedule. Check back for updates.{% endblock %}
{% block body %}
    <style>
    </style>
    <section class="page-content clearfix schedule-index">
        <h1>{{ event_date_iso|date('Y') }} South Dakota Code Camp Schedule</h1>
        <h2>
            Saturday, {{ event_date_iso|date('m/j') }}
        </h2>
        <table border="1" align="center" class="table table-responsive table-bordered">
            <thead align="center">
                <tr>
                    <th class="column-1">
                        Time
                    </th>
                    <th class="column-2">
                        Room A
                    </th>
                    <th class="column-3">
                        Room B
                    </th>
                    <th class="column-4">
                        Room C
                    </th>
                    <th class="column-5">
                        Room D
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>
                        8:15 - 8:40
                    </td>
                    <td colspan="4">
                        Registration
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        8:40 - 8:50
                    </td>
                    <td colspan="4">
                        Welcome and Introduction From SDCC Leadership Team in Room A
                    </td>
                </tr>
                <tr align="center" height="100">
                    <td align="center">
                        9:00 - 10:00
                    </td>
                    <td>
                        <a href="/sessions/6">Dive into Android</a><br>
                        <i><a href="/speakers/5">David Seruyange</a></i>
                    </td>

                    <td>
                        <a href="/sessions/4">From JavaScript mess to Cleaner Code in 60 minutes</a><br>
                        <i><a href="/speakers/3">Kevin Logan</a></i>
                    </td>
                    <td>
                        <a href="/sessions/10">Service Worker to the Rescue</a><br>
                        <i><a href="/speakers/6">Jackson Murtha</a></i>
                    </td>
                    <td>
                        <a href="/sessions/3">Top Ten Ways to Teach Your Kids to Code</a><br>
                        <i><a href="/speakers/2">Kris Boedigheimer</a></i>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        10:00 - 10:15
                    </td>
                    <td colspan="4">
                        Break
                    </td>
                </tr>
                <tr align="center" height="100">
                    <td align="center">
                        10:15 - 11:15
                    </td>
                    <td>
                        <a href="/sessions/9">Functional Patterns in C#</a><br>
                        <i><a href="/speakers/10">Bob Davidson</a></i>
                    </td>
                    <td>
                        <a href="/sessions/1">ASP.NET Core 1.0 Tag Helpers</a><br>
                        <i><a href="/speakers/1">Robert Boedigheimer</a></i>
                    </td>
                    <td>
                        <a href="/sessions/12">Lions, Tigers and ORMs, Oh My!</a><br>
                        <i><a href="/speakers/11">Ivan Ven Osdel</a></i>
                    </td>
                    <td class="schedule--family-cell">
                        <a href="{{ path('page_family') }}">Family Sessions</a><br>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        11:30 - 12:30
                    </td>
                    <td colspan="4">
                        Lunch Break
                    </td>
                </tr>
                <tr align="center" height="100">
                    <td>
                        12:30 - 1:30
                    </td>
                  <td>
                    <a href="/sessions/8">.NET Core or .NET Framework: Which one should I choose?</a><br>
                    <i><a href="/speakers/7">Kwen Peterson</a></i>
                  </td>
                    <td>
                        <a href="/sessions/2">Responsive Web Images</a><br>
                        <i><a href="/speakers/1">Robert Boedigheimer</a></i>
                    </td>
                    <td>
                        <a href="/sessions/11">Refactoring Realities: What Home Renovation Can Teach Us About Refactoring Our Code</a><br>
                        <i><a href="/speakers/9">Joel Kauffman</a></i>
                    </td>
                    <td class="schedule--family-cell">
                        <a href="{{ path('page_family') }}">Family Sessions</a><br>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        1:45 - 2:15
                    </td>
                    <td colspan="4">
                        Announcement of <a href="{{ path('page_open_space') }}">Unconference</a> Sessions
                    </td>
                </tr>
                <tr align="center" height="100">
                    <td align="center">
                        2:15 - 3:15
                    </td>
                    <td colspan="4">
                        <a href="{{ path('page_open_space') }}">Unconference</a> in Rooms C & D
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        3:15 - 3:30
                    </td>
                    <td colspan="4">
                        Break
                    </td>
                </tr>
                <tr align="center" height="100">
                    <td align="center">
                        3:30 - 4:30
                    </td>
                    <td colspan="4">
                        <a href="{{ path('page_open_space') }}">Unconference</a> in Rooms C & D
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        4:30 - 5:00
                    </td>
                    <td colspan="4">
                        Closing Remarks &amp; Prize Giveaways
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        5:00 - 8:00
                    </td>
                    <td colspan="4">
                        After Party @ Monks<br>
                        Happy Hour Sponsored by <a href="http://www.zuerchertech.com/" target="_blank">Zuercher Technologies</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
