{% extends 'base.html.twig' %}

{% block title %}{{ event_date_iso|date('Y') }} Sponsors | {{ parent() }}{% endblock %}
{% block og_title %}{{ event_date_iso|date('Y') }} Sponsors{% endblock %}

{% block meta_description %}South Dakota Code Camp would not be possible without our sponsors. Learn more about our sponsors.{% endblock %}

{% block body %}
    <section class="page-content clearfix sponsor-index ">
        <h1>2016 South Dakota Code Camp Sponsors</h1>

        <p>
            South Dakota Code Camp would not be possible without sponsors. Sponsors account for
            100% of the costs of bringing Code Camp to South Dakota. Please take a few moments to
            learn more about and thank this year's sponsors.
        </p>
        <p>
            Interested in becoming a sponsor? Email <a href="mailto:sdcodecamp@gmail.com">sdcodecamp[at]gmail.com</a> for details.
        </p>
        {% spaceless %}
        <div class="sponsor-section gold" id="GoldSponsors">
            <h2>Gold Sponsors</h2>
            <div class="sponsor">
                <a href="http://blendinteractive.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/blend_logo.jpg') }}" title="Blend Interactive" />
                    </div>
                </a>
                <h3><a href="http://blendinteractive.com" target="_blank">Blend Interactive</a></h3>
            </div>
            <div class="sponsor">
                <a href="http://www.ravenind.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/raven_logo.png') }}" title="Raven Industries" />
                    </div>
                </a>
                <h3><a href="http://www.ravenind.com" target="_blank">Raven Industries</a></h3>
            </div>
        </div>
        <div class="sponsor-section silver" id="SilverSponsors">
            <h2>Silver Sponsors</h2>
            <div class="sponsor">
                <a href="https://docutap.com/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/docutap_logo.png') }}" title="Omnitech" />
                    </div>
                </a>
            <h3><a href="https://docutap.com/" target="_blank">DocuTAP</a></h3>
        </div>
            {% endspaceless %}
    </div>
        <div class="sponsor-section" id="VenueSponsors">
            <h2>Venue Host</h2>
            <div class="sponsor">
                <a href="http://www.southeasttech.edu/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/southeasttech_logo.jpg') }}" title="Southeast Tech" />
                    </div>
                </a>
                <h3><a href="http://www.southeasttech.edu/" target="_blank">Southeast Tech</a></h3>
            </div>
        </div>
    </section>
{% endblock %}
