{% extends 'base.html.twig' %}

{% block title %}{{ event_date_iso|date('Y') }} Sponsors | {{ parent() }}{% endblock %}
{% block og_title %}{{ event_date_iso|date('Y') }} Sponsors{% endblock %}

{% block meta_description %}South Dakota Code Camp would not be possible without our sponsors. Learn more about our sponsors.{% endblock %}

{% block body %}
    <section class="page-content clearfix sponsor-index ">
        <h1>2018 South Dakota Code Camp Sponsors</h1>

        <p>
            South Dakota Code Camp would not be possible without sponsors. Sponsors account for
            100% of the costs of bringing Code Camp to South Dakota. Please take a few moments to
            learn more about and thank this year's sponsors.
        </p>
        <p>
            Interested in becoming a sponsor? Email <a href="mailto:sdcodecamp@gmail.com">sdcodecamp[at]gmail.com</a> for details.
        </p>
        <p>Sponsor information will be coming soon</p>
        {% spaceless %}
        <h2>Gold Sponsors</h2>
        <div class="sponsor-section gold" id="GoldSponsors">
          <!--  <div class="sponsor">
                <a href="" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/logo.png') }}" title="" />
                    </div>
                </a>
            </div>
            -->
        </div>
        <h2>Silver Sponsors</h2>
        <div class="sponsor-section silver" id="SilverSponsors">
           <!-- <div class="sponsor">
                <a href="https://.com/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/logo.png') }}" title="" />
                    </div>
                </a>
            </div>
            -->
        </div>
        <h2>After Party</h2>
        <div class="sponsor-section" id="AfterPartySponsors">
        </div>
        <h2>Venue Host</h2>
        <div class="sponsor-section" id="VenueSponsors">
            <div class="sponsor">
                <a href="https://ravenind.com/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/raven_logo.png') }}" title="Raven" />
                    </div>
                </a>
            </div>
        </div>
        {% endspaceless %}
    </section>
{% endblock %}
