{% extends 'base.html.twig' %}

{% block title %}{{ event_date_iso|date('Y') }} Sponsors | {{ parent() }}{% endblock %}
{% block og_title %}{{ event_date_iso|date('Y') }} Sponsors{% endblock %}

{% block meta_description %}South Dakota Code Camp would not be possible without our sponsors. Learn more about our sponsors.{% endblock %}

{% block body %}
    <section class="page-content clearfix sponsor-index ">
        <h1>2016 South Dakota Code Camp Sponsors</h1>

        <p>
            South Dakota Code Camp would not be possible without sponsors. Sponsors account for
            100% of the costs of bringing Code Camp to South Dakota. Please take a few moments to
            learn more about and thank this year's sponsors.
        </p>
        <p>
            Interested in becoming a sponsor? Email <a href="mailto:sdcodecamp@gmail.com">sdcodecamp[at]gmail.com</a> for details.
        </p>
        {% spaceless %}
        <h2>Platinum Sponsors</h2>
        <div class="sponsor-section platinum" id="PlatinumSponsors">
            <div class="sponsor">
                <a href="http://www.ravenind.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/raven_logo.png') }}" title="Raven Industries" />
                    </div>
                </a>
            </div>
            <div class="sponsor">
                <a href="http://blendinteractive.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/blend-logo.png') }}" title="Blend Interactive" />
                    </div>
                </a>
            </div>
        </div>
        <h2>Gold Sponsors</h2>
        <div class="sponsor-section gold" id="GoldSponsors">
            <div class="sponsor">
                <a href="https://www.chrsolutions.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/chr_logo.png') }}" title="CHR Solutions" />
                    </div>
                </a>
            </div>
            <div class="sponsor">
                <a href="https://www.metabank.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/metabank_logo.png') }}" title="MetaBank" />
                    </div>
                </a>
            </div>
        </div>
        <h2>Silver Sponsors</h2>
        <div class="sponsor-section silver" id="SilverSponsors">
            <div class="sponsor">
                <a href="https://docutap.com/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/docutap_logo.png') }}" title="DocuTAP" />
                    </div>
                </a>
            </div>
            <div class="sponsor">
                <a href="http://www.omnitech-inc.com/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/omnitech_logo.jpg') }}" title="Omnitech" />
                    </div>
                </a>
            </div>
            <div class="sponsor">
            </div>
        </div>
        <h2>After Party</h2>
        <div class="sponsor-section" id="AfterPartySponsors">
            <div class="sponsor">
                <a href="http://www.zuerchertech.com" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/zuercher_logo.png') }}" title="Zuercher Technologies" />
                    </div>
                </a>
            </div>
        </div>
        <h2>Venue Host</h2>
        <div class="sponsor-section" id="VenueSponsors">
            <div class="sponsor">
                <a href="http://www.southeasttech.edu/" target="_blank">
                    <div class="logo">
                        <img src="{{ asset('bundles/app/images/southeasttech_logo.jpg') }}" title="Southeast Tech" />
                    </div>
                </a>
            </div>
        </div>
        {% endspaceless %}
    </section>
{% endblock %}
