{% extends 'base.html.twig' %}
{% block title %}{{ event_date_iso|date('Y') }} Venue | {{ parent() }}{% endblock %}
{% block og_title %}{{ event_date_iso|date('Y') }} Venue{% endblock %}
{% block meta_description %}The next South Dakota Code Camp will be happening on {{ event_date }} at Raven Industries in Sioux Falls, SD.{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script src="//unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
    <section class="page-content clearfix">
        <h1>{{ event_date_iso|date('Y') }} Venue</h1>

        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d92533.20362009699!2d-96.79487403839303!3d43.55107434038409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x878eb5a173b8afc3%3A0x5ff9c9f5741644aa!2sRaven+Industries+Inc%2C+East+6th+Street%2C+Sioux+Falls%2C+SD!3m2!1d43.5509713!2d-96.7248336!5e0!3m2!1sen!2sus!4v1537285653517" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        <p>
            The next South Dakota Code Camp will be happening on {{ event_date }} at Raven Industries. <a href="https://goo.gl/maps/eC4dyQwmdyq" target="_blank">Click here for directions.</a>
        </p>

        <div id="CampusMap" style="height: 400px;"></div>

    </section>
{% endblock %}
