{% extends 'base.html.twig' %}

{% block title %}Sessions | {{ parent() }}{% endblock %}
{% block og_title %}Sessions{% endblock %}

{% block meta_description %}South Dakota Code Camp is proud to present the best developer conference in the area.{% endblock %}

{% block body %}
    <section class="session-index interior-content clearfix" id="SessionIndex">
        <h1 class="pagetitle cutout">Sessions</h1>

        {% if sessions %}
        <ul>
            {% for session in sessions %}
            <li class="session">
                <article>
                    <h3><a href="{{ path('session_show_by_slug', {id: session.id, slug: session.slug}) }}">{{ session.title }}</a></h3>
                    {% if session.speakers %}
                    <p class="attribution">
                        Presented by:
                        {% for speaker in session.speakers %}
                        {% if speaker.visible %}
                            <a href="{{ path('speaker_show_by_slug', {id: speaker.id, slug: speaker.slug}) }}">{{ speaker.fullName }}</a>{% if not loop.last %}, {% endif %}
                        {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                    <p class="summary">{{ session.abstractMarkdown|raw }}</p>
                </article>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p><a class="button" href="{{ path('speaker_submission_new') }}" style="color: white;">Call for Speakers</a></p>
        {% endif %}

    </section>
{% endblock %}
