{% extends "::base.html.twig" %}
{% set currentUrl = url('session_show_by_slug', {'id': session.id, 'slug': session.slug}) %}
{% block title %}{{ session.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <section class="session-show interior-content clearfix">

        <h1 class="pagetitle cutout">{{ session.title }}</h1>
        {% if session.speakers %}
        <p class="attribution">
            Presented by:
            {% for speaker in session.speakers %}
                {% if speaker.visible %}
                <a href="{{ path('speaker_show_by_slug', {id: speaker.id, slug: speaker.slug}) }}">{{ speaker.fullName }}</a>{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        </p>
        {% endif %}

        <div class="abstract">{{ session.abstractMarkdown|raw }}</div>

    </section>
{% endblock %}
